/*
!/.gitignore
!/README.md
!/DESKTOP.md
!-i

!.pam_environment.example
!.inputrc
!.pdbrc
!.pypirc
!.tmux.conf

!s/

!.ssh/
.ssh/*
!.ssh/config

!.config/
.config/*

!.config/bash/
.config/bash/local.sh

!.config/fish/
.config/fish/fish_variables

!.config/git/
.config/git/config.local

!.config/readline/

!.config/tmux/

!.config/vim/
