/*
!/.gitignore
!/README.md
!/DESKTOP.md
!-i

!.pam_environment
!.inputrc
!.pdbrc
!.pypirc
!.tmux.conf

!.ssh/
.ssh/*
!.ssh/config

!.config/
.config/*

!.config/bash/
.config/bash/local.sh

!.config/fish/
.config/fish/fishd.*
.config/fish/fish_variables

!.config/vim/

!.config/git/
.config/git/config.local
